<%- include('../partials/navbar'); -%>

<p>Bienvenido <strong><%=theUser.name%></strong></p>
<p>Hoy es: <%=theDate%></p>

<div class="container inline-flex flex-wrap max-w-full px-10">
  
  <%for(var i = 0; i < size; i++){%>

    <div class="w-1/3 inline-block p-4 my-4 rounded overflow-hidden shadow-lg">
      <img src="data:image/<%=products[i].image.img.contentType%>;base64,
        <%=products[i].image.img.data.toString('base64')%>" class="w-full" alt="img-propiedad">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2"><%=products[i].name%></div>
        <p class="text-gray-700 text-base">
          <%=products[i].description%>
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#<%=products[i].category%></span>
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">$<%=products[i].price%></span>

          <form action="/carrito/<%=products[i]._id%>" method="post">
            <a href="#"><button class="ml-auto mr-auto bg-green-500 hover:bg-green-400 text-white font-bold py-4 px-8 border-b-4 border-green-700 hover:border-green-500 rounded"> Agregar al carrito</button></a>
          </form>

      </div>
    </div>

  <%};%>

</div>

<%- include('../partials/footer'); -%>